<nav class="navbar navbar-expand-lg  bg-dark ">
    <div class="container-fluid ">
        <a class="navbar-brand text-danger">Futbol</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="equipo/">
Equipo
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="/equipo/crear">Crear Equipo</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/equipo/ver">Ver Equipo</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="jugador/">
Jugador
                  </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="jugador/crear">Crear Jugador</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jugador/ver">Ver Jugador</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>