<div class="wrapper fadeInDown">
    <div id="formContent">

        <form [formGroup]="equipoForm" (ngSubmit)="onUpdate(equipoForm.value)">
            <div>
                <br>
                <label for="">Nombre del Equipo</label>

                <input type="text" class="fadeIn second mt-3" placeholder="Nombre del Equipo" formControlName="NombreE">

            </div>
            <div>
                <br>
                <label for="">Nombre del Entrenador</label>
                <input type="text" class="fadeIn second mt-3" placeholder="Nombre del Entrenador" formControlName="NombreDT">
            </div>
            <div>
                <input type="submit" class="fadeIn fourth mt-3" value="Actualizar el equipo">
            </div>
        </form>